
.logo {
    height: 55px;
    width: 55px;
    border-radius: 9px;
}

.form-inline input {
    width: 100%;
}

.topbar {
    background-color: #f6f5f2;
}

@media (max-width: 991px) {
    .topbar {
        display: none;
    }
}

.topbar .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.topbar__left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.topbar__left p {
    font-size: 12px;
    font-weight: 500;
    color: #6e7673;
    margin: 0;
}

.topbar__social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-right: 30px;
}

.topbar__social a {
    color: #6e7673;
    font-size: 12px;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    line-height: 38px;
}

.topbar__social a:hover {
    color: var(--thm-primary);
}

.topbar__social a+a {
    margin-left: 20px;
}

.topbar__right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.topbar__right>a {
    color: #6e7673;
    font-size: 12px;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-weight: 500;
}

.topbar__right>a+a {
    margin-left: 30px;
}

.topbar__right>a>i {
    font-size: 14px;
    color: var(--thm-base);
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
    margin-right: 10px;
}

.topbar__right>a:hover {
    color: var(--thm-base);
}

.topbar__right>a:hover>i {
    color: var(--thm-black);
}
